*.mrpack
_mrpack_extract/
test_extract/
server-build/
exports/

.pinecone-deploy.json
*.local.json

import-mrpack-mods.ps1
add-modrinth-mods.ps1
manual-files.txt

packwiz-installer.jar
packwiz-installer-bootstrap.jar
packwiz.json

options.txt

mods-list.md
mods-list.csv
mods-list.json

patches/
mmc-pack.json
instance.cfg
minecraftinstance.json
